Django==1.4.5
Fabric==1.8.0
Mako==0.7.3
MarkupSafe==0.15
PAM==0.4.2
Pillow==2.0.0
South==0.8.2
Twisted-Core==12.3.0
Twisted-Names==12.3.0
Twisted-Web==12.3.0
adium-theme-ubuntu==0.3.3
amqp==1.0.13
anyjson==0.3.3
apt-xapian-index==0.45
argparse==1.2.1
awscli==1.2.3
bcdoc==0.11.0
billiard==2.7.3.34
boto==2.15.0
botocore==0.23.0
celery==3.0.24
chardet==2.0.1
colorama==0.2.5
config==0.3.9
configglue==1.0
debtagshw==0.1
defer==1.0.6
dirspec==4.2.0
distribute==0.7.3
dj-database-url==0.2.2
dj-static==0.0.5
django-celery==3.0.23
django-toolbelt==0.0.1
docutils==0.11
duplicity==0.6.21
ecdsa==0.10
gunicorn==18.0
httplib2==0.7.7
jmespath==0.1.0
kombu==2.5.16
lxml==3.1.0
oauthlib==0.3.7
oneconf==0.3.3
paramiko==1.12.0
pexpect==2.4
piston-mini-client==0.7.5
ply==3.4
protobuf==2.4.1
psycopg2==2.4.5
pyOpenSSL==0.13
pyasn1==0.1.7
pycrypto==2.6
pycups==1.9.62
pycurl==7.19.0
pygobject==3.8.0
pyinotify==0.9.3
pyserial==2.6
pysmbc==1.0.13
pysqlite==1.0.1
python-apt==0.8.8ubuntu6
python-dateutil==2.2
python-debian==0.1.21-nmu2ubuntu1
pytz==2013.7
pyxdg==0.25
reportlab==2.6
rhythmbox-ubuntuone==4.2.0
rsa==3.1.2
sessioninstaller==0.0.0
six==1.2.0
software-center-aptd-plugins==0.0.0
static==0.4
system-service==0.1.6
ubuntuone-storage-protocol==4.2.0
unity-lens-photos==0.9
urlgrabber==3.9.1
virtualenv==1.10.1
wsgiref==0.1.2
xdiagnose==3.5.1
yum-metadata-parser==1.1.2
zope.interface==4.0.5
